SECRET_KEY=votre_cle_secrete_ici
DEBUG=True
EMAIL_HOST = 'smtp.office365.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'clement.cayeux@symposium-cs.fr' 
EMAIL_HOST_PASSWORD = 'znyscpfvldrvyysg' 
DEFAULT_FROM_EMAIL="Symposium CentraleSupelec <contact@symposium-cs.fr>"