# --- Python / Django ---
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
.pytest_cache/
.coverage

# --- Environnement Virtuel & Secrets ---
venv/
env/
ENV/
.env
.venv/

# --- Système & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp